<% include ../../partials/header %>
<div class="wrapper">
  <% include ../../partials/sidebar %>
  <!-- **********  main-panel  ********** -->
  <div class="main-panel">
    <div class="panel-hedding">
      <div class="panel-hedding">
        <!-- <div class="mb-4">
            <a href="/admin/member/add"><i class="fa fa-arrow-left mr-2"></i>Add Individual</a>
        </div> -->
        <div class="row mb-4">
            <div class="col-md-6">
              <h5 class="text-capitalize"><%= member_info.firstname %> <%= member_info.middlename %> <%= member_info.lastname%></h5>
            </div>
        </div>
      </div>
    </div>
    <div class="tab tab-outline">
        <ul class="nav" id="myTab-02" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab-02" data-toggle="tab" href="#home-02" role="tab" aria-controls="home" aria-selected="true">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab-02" data-toggle="tab" href="#profile-02" role="tab" aria-controls="profile" aria-selected="false">Edit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab-03" data-toggle="tab" href="#contact-02" role="tab" aria-controls="contact" aria-selected="false">Family</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" id="giving-tab-03" data-toggle="tab" href="#giving-02" role="tab" aria-controls="giving" aria-selected="false">Giving</a>
            </li>
      </ul>
      <div class="tab-content" id="myTabContent-02">
        <!-- profile -->
          <div class="tab-pane fade show active  mb-5" id="home-02" role="tabpanel" aria-labelledby="home-tab-02">
              <div class="row">
                  <div class="col-md-4">
                      <div class="card">
                        <div class="card-body">
                           <div class="personal-panel panel">
                             <!-- profile pic -->
                              <div class="profile-reponsive mb-2">
                                <div class="userprofile">jdm</div>
                              </div>
                              <!-- member basic info -->
                               <div class="name">
                                  <h4><%= member_info.firstname %> <%= member_info.lastname%></h4>
                                  <sapn><%= member_info.gender %></sapn>
                                  <p class="mt-0"><%= moment().diff(moment(member_info.dob, "DD-MM-YYYY"), 'year'); %> yrs (<%= moment(member_info.dob).format("MMM DD YYYY") %>)</p>
                                </div>
                           </div>
                           <hr />
                           <!-- icon -->
                           <div class="text-center icon">
                             <i class="fa fa-tint"></i>
                           </div>
                        </div>
                      </div>
                      <!-- contact info -->
                      <div class="card">
                        <div class="card-body contact-panel">
                          <div class="panel-heading">Contact Info</div>
                            <% if (member_info.contact.email) { %>
                              <div class="info-details">
                                <div class="d-flex details">
                                  <div class="info">
                                    <p><i class="fa fa-envelope-open mr-2"></i>Email</p>
                                  </div>
                                  <div class="info">
                                    <p><%= member_info.contact.email %></p>
                                  </div>
                                </div>
                              </div>
                              <% } %>
                              <% if (member_info.contact.phone1) { %>
                                <div class="info-details">
                                  <div class="d-flex details">
                                    <div class="info">
                                      <p><i class="fa fa-mobile-phone mr-2"></i>Phone <br/><span>(Home)</span></p>
                                    </div>
                                    <div class="info">
                                      <p><%= member_info.contact.phone1 %></p>
                                    </div>
                                  </div>
                                </div>
                              <% } %>
                        </div>
                      </div>
                      <!-- address info -->
                      <div class="card">
                        <div class="card-body">
                          <div class="panel-heading">Address</div>
                              <div class="details">
                                <div class="info">
                                  <p><i class="fa fa-map-maker"></i><%= member_info.contact.address %></p>
                                </div>
                              </div>
                        </div>
                      </div>
                      <!--  info -->
                      <div class="card">
                        <div class="card-body">
                          <div class="panel-heading">Dates</div>
                          <% if (member_info.dob) { %>
                            <div class="info-details">
                              <div class="d-flex details">
                                 <div class="info">
                                    <p><i class="fa fa-birthday-cake mr-2"></i>Birthdate</p>
                                 </div>
                                 <div class="info">
                                    <p><%= moment(member_info.dob).format("MMM DD YYYY") %><span class="ml-2">(<%= moment().diff(moment(member_info.dob, "DD-MM-YYYY"), 'year'); %> yrs)</span></p>
                                 </div>
                              </div>
                            </div>
                          <% } %>
                          <% if (member_info.baptism.data_bapts) { %>
                            <div class="info-details">
                              <div class="d-flex details">
                                 <div class="info">
                                    <p><i class="fa fa-tint mr-2"></i>Baptized On</p>
                                 </div>
                                 <div class="info">
                                    <p><%= moment(member_info.baptism.data_bapts).format("MMM DD YYYY") %></p>
                                 </div>
                              </div>
                            </div>
                          <% } %>
                          <% if (member_info.joined_date) { %>
                            <div class="info-details">
                              <div class="d-flex details">
                                 <div class="info">
                                    <p><i class="fa fa-calendar-check-o mr-2"></i>Join Date</p>
                                 </div>
                                 <div class="info">
                                    <p><%= moment(member_info.joined_date).format("MMM DD YYYY") %></p>
                                 </div>
                              </div>
                            </div>
                          <% } %>
                        </div>
                      </div>
                  </div>
                  <div class="col-md-8">
                    <div class="card">
                      <div class="card-body">
                         <div class="panel-heading">Family</div>
                           <div class="row">
                              <div class="col-md-6">
                                <div class="row">
                                  <div class="col-4">
                                    <div class="userprofile">Jm</div>
                                  </div>
                                  <div class="col-8">
                                    <div class="mt-4">
                                      <p style="padding-bottom:0px;">Primary
                                        <br><span><a href="#">Jenkins Mulbah</a></span>
                                      </p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                           </div>
                      </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                           <div class="panel-heading">Groups</div>
                           <ul class="list-group">
                              <li class="d-flex justify-content-between align-items-center">
                                Cras justo odio
                                <span class="badge badge-primary badge-pill">14</span>
                              </li>
                              <li class="d-flex justify-content-between align-items-center">
                                Dapibus ac facilisis in
                                <span class="badge badge-info badge-pill">2</span>
                              </li>
                            </ul>
                        </div>
                      </div>
                      <div class="card">
                          <div class="card-body">
                           <div class="panel-heading">Documents</div>
                            
                          </div>
                        </div>
                  </div>
              </div>
          </div>
        <!-- profile //-->
        <!-- edit profile -->
          <div class="tab-pane fade mb-5" id="profile-02" role="tabpanel" aria-labelledby="profile-tab-02">
              <div class="row">
                  <div class="col-12">
                          <!-- **********	personal info ********** -->
                          <div class="card">
                              <div class="card-body">
                                  <div class="mb-4">
                                      <h5 class="card-title add-title"><i class="la la-user mr-3"></i>Personal</h5>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-5">
                                          <div class="form-group">
                                              <label for="firstname" class="mb-3">First Name</label>
                                              <input type="text" class="form-control" id="firstname">
                                          </div>
                                          <div class="form-group">
                                              <label for="middlename">Middle Name</label>
                                              <input type="text" class="form-control" id="middlename">
                                          </div>
                                          <div class="form-group">
                                              <label for="lastname">Last Name</label>
                                              <input type="text" class="form-control" id="lastname">
                                          </div>
                                      </div>
                                      <div class="col-md-2">
                                          <div class="form-group">
                                              <label for="gender" class="mb-3">Gender</label>
                                              <div class="custom-control custom-radio mb-3">
                                                  <input type="radio" id="customRadio1" name="gender" class="custom-control-input ">
                                                  <label class="custom-control-label" for="customRadio1">Male</label>
                                                </div>
                                                <div class="custom-control custom-radio">
                                                  <input type="radio" id="customRadio2" name="gender" class="custom-control-input">
                                                  <label class="custom-control-label" for="customRadio2">Female</label>
                                                </div>
                                          </div>
                                      </div>
                                      <div class="col-md-5">
                                          <div class="form-group">
                                              <label for="gender" class="mb-3">Picture</label>
                                              <div class="preview-zone d-none">
                                                  <div class="box box-solid">
                                                      <div class="box-tools">
                                                          <p id="remove-preview">
                                                            <i class="fa fa-times"></i>
                                                          </p>
                                                      </div>
                                                    <div class="box-body"></div>
                                                  </div>
                                                </div>
                                              <div>
                                                  <p>File must be smaller than 5MB and either PNG or JPG/JPEG.</p>
                                              </div>
                                              <div class="dropzone-wrapper">
                                                  <div class="dropzone-desc">
                                                    <i class="fa fa-upload"></i>
                                                    <p>Choose an image file or drag it here.</p>
                                                  </div>
                                                  <input type="file" name="img_logo" class="dropzone" onchange="readFile(this)">
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- **********	Date info ********** -->
                          <div class="card">
                              <div class="card-body">
                                  <h5 class="card-title add-title"><i class="la la-calendar mr-3"></i>Dates</h5>
                                   <div class="form-row">
                                      <div class="form-group col-md-3">
                                          <label for="dob">Birthdate</label>
                                           <div class="icon-input">
                                              <i class="fa fa-calendar"></i>
                                              <input type="text" class="form-control date-picker" name="dob" id="dob">
                                           </div>
                                      </div>
                                      <div class="form-group col-md-3">
                                          <label for="databaptized">Date Baptized</label>
                                          <div class="icon-input">
                                              <i class="fa fa-calendar"></i>
                                              <input type="text" class="form-control date-picker" name="databaptized" id="databaptized">
                                          </div>
                                      </div>
                                      <div class="form-group col-md-3">
                                          <label for="databaptized">Join Date</label>
                                          <div class="icon-input">
                                              <i class="fa fa-calendar"></i>
                                              <input type="text" class="form-control date-picker" name="joindate" id="joindate">
                                          </div>
                                      </div>
                                   </div>
                              </div>
                          </div>
                          <!-- **********	contact info ********** -->
                          <div class="card">
                              <div class="card-body">
                                  <div class="mb-4">
                                      <h5 class="card-title add-title"><i class="la la-phone mr-3"></i>Contact</h5>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-4">
                                          <div class="form-group">
                                              <label for="homephone">Home Phone</label>
                                              <input type="text" class="form-control" id="homephone" name="homephone"/>
                                          </div>
                                          <div class="form-group">
                                              <label for="cellphone">Cell Phone</label>
                                              <input type="text" class="form-control" id="cellphone" name="cellphone"/>
                                              <span></span>
                                          </div>
                                          <div class="form-group">
                                              <label for="workphone">Home Phone</label>
                                              <input type="text" class="form-control" id="workphone" name="workphone"/>
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="primaryemail">Primary Email</label>
                                              <input type="email" class="form-control" id="primaryemail" name="primaryemail">
                                          </div>
                                          <div class="form-group">
                                              <label for="secondaryemail">Secondary Email</label>
                                              <input type="email" class="form-control" id="secondaryemail" name="secondaryemail">
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- **********	address info ********** -->
                          <div class="card">
                              <div class="card-body">
                                  <div class="mb-4">
                                      <h5 class="card-title add-title"><i class="la la-map-marker mr-3"></i>Address</h5>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-6">
                                          <div class="card-body">
                                          <div class="form-group">
                                              <label for="address">Address</label>
                                              <textarea class="form-control" name="address" id="address" cols="10" rows="2"></textarea>
                                          </div>
                                          <div class="form-group">
                                              <label for="city">City</label>
                                              <input type="text" class="form-control" id="city" name="city">
                                          </div>
                                          <div class="form-row">
                                              <div class="form-group col-md-6">
                                                  <label for="state">State</label>
                                                  <input type="text" class="form-control" id="state" name="state">
                                              </div>
                                              <div class="form-group col-md-6">
                                                  <label for="country">Country</label>
                                                  <input type="text" class="form-control" id="country">
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              </div>
                          </div>
                          <div class="card">
                              <div class="card-body">
                                  <h5 class="card-title add-title"><i class="la la-sitemap mr-3"></i>Groups</h5>
                                  <div class="form-row">
                                      <div class="form-group col-md-7">
                                          <label for="group"></label>
                                          <select class="group" name="group" id="group">
                                              <option></option>
                                          </select>
                                      </div>
                                  </div>
                           </div>
                      </div>
                   </div>
              </div>
              <div class="sticky-panel">
                  <button type="submit" class="btn btn-primary mr-3">Save</button>
              </div>
          </div>
        <!-- edit profile //-->
        <!-- family  -->
          <div class="tab-pane fade" id="contact-02" role="tabpanel" aria-labelledby="contact-tab-02">
                <p>....</p>
          </div>
        <!-- family  //-->
        <!-- giving  -->
        <div class="tab-pane fade" id="giving-02" role="tabpanel" aria-labelledby="giving-tab-02">
            <p>....</p>
        </div>
        <!-- giving //  -->
        </div>
    </div>
</div>
<!-- Modal Change password-->
	<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <p>Username: <span class="text-danger"><%= member_info.username %></span></p>
       <p>Password: <span class="text-danger"><%= member_info.password %></span></p>
      </div>
    </div>
  </div>
</div>
<% include ../../partials/footer %>