<!-- **********  Wrapper  ********** -->
<div class="login-bg pt-5 pt-lg-0" style="background-image: url(images/bg.jpg);">
    <div class="container-fluid h-100">
      <div class="row justify-content-center h-100">
        <div class="col-lg-5 col-xl-3 d-lg-flex justify-content-center align-items-center">
          <div class="login bg-white py-5 px-5">
            <% if (errorMessage) { %> 
              <div class="alert alert-secondary alert-dismissible fade show alert-icon " role="alert">
                <i class="fa fa-warning"></i> <%= errorMessage %>
                 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>
               </div>               
            <%}%>
            <div class="title">
              <h3>Lets get you set up</h3>
              <p>Create your account</p>
            </div>
            <form action="/createuser" id="signupForm" method="POST">
              <div class="form-group">
                <input type="email" name="username" value="<%= oldInput.username %>"  class="form-control <%= validationErrors.find(e => e.params === 'username') ? 'bg-danger' : '' %> " placeholder="Email" required>
              </div>
              <div class="form-group">
                <input type="password" name="password" value="<%= oldInput.password %>" id="password" class="form-control <%= validationErrors.find(e => e.params === 'password') ? 'bg-danger' : '' %>" autocomplete="on" placeholder="Password" required>
              </div>
              <div class="form-group">
                <input type="password" name="confirmPass" value="<%= oldInput.confirmPass %>" class="form-control <%= validationErrors.find(e => e.params === 'confirmPass')  ? 'bg-danger' : ''%> " autocomplete="on" placeholder="Confirm password" required>
              </div>
              <button type="submit" id="submitBtn" class="btn btn-primary"> Signup</button>
            </form>
            <p class="mb-0">By clicking register. you agree on our <a href="#"> terms and condition</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include ../admin/partials/footer %>