<header class="header header-fixed header-light">
	<div class="header-middle">                 
		<div class="logo-color logo-color-light">
			<div class="logo">
				<div class="logo-middle">            
					<a href="/admin/index">
						<img  src="/uploads/logo/<%= systemInfo.logo%>" alt="Logo">
					</a>
				</div>
			</div>
		</div>
		<div class="header-topbar">
			<div class="topbar-left">
				<a class="side-toggle" href="#!">
					<i class="la la-bars"></i>	
				</a>
				<div class="mt-auto header-topbar-title">
					<a href="/admin/index">
						<% if (systemInfo.name) { -%>
							<h4><%= systemInfo.name %></h5>
						<% } else { -%>
							<h4>Church Name</h4>
						<% } -%>
					 </a>
				</div>
			</div>
			<div class="topbar-right">
				<ul>
					<li class="dropdown show setting">
						<a id="showRight" class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span> <i class="la la-tasks"></i></span>
						</a>
					</li>
					<li class="dropdown show notifications">
							<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span>
									<span class="notifications-badge"></span>
									<i class="la la-bell"></i>
								</span>
							</a>
					</li>
					<li class="dropdown show user-profile">
							<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<div class="avatar avatar-sm mr-1">
									<img class="img-fluid set_avatar" src="" alt="" id="avatar-sm">
								</div>
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<div class="profile-pic">
									<div class="row">
										<div class="col-8">
											<div class="profile-name">
												<a href="/admin/profile/profile_detail">
													<h6 class="text-capitalize"><%= userSession.fname %> <%= userSession.mname%> <%= userSession.lname%></h6>
												</a>
												<a href="#"><%= userSession.role %></a>
											</div>
										</div>
										<div class="col-4">
											<div class="avatar mr-1">
												<a href="/admin/profile/profile_detail">
													<img class="set_avatar img-fluid" src="" alt="" id="avatar-md">
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="profile-info">
									<form action="/logout" method="POST">
										<button type="submit" class="btn btn-outline-primary outline-gray btn-sm mt-3"> <i class="la la-power-off"></i> Logout </button>
									</form>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</header>
